<footer class="twelve columns">
  <div class="footer-container">
    <div class="left">
      <ul>
        <li><a href="http://www.indexexchange.com/about/">About</a></li>
        <li><a href="http://www.indexexchange.com/careers/">Careers</a></li>
        <li><a href="http://www.indexexchange.com/contact/">Contact</a></li>
      </ul>
      <p>Stay current on programmatic insights and trends</p>
      <ul class="social">
        <li><img src="{{ site.baseurl }}/_assets/images/linkedin.svg" alt=""></li>
        <li><img src="{{ site.baseurl }}/_assets/images/twitter.svg" alt=""></li>
        <li><img src="{{ site.baseurl }}/_assets/images/facebook.svg" alt=""></li>
        <li><img src="{{ site.baseurl }}/_assets/images/instagram.svg" alt=""></li>
        <li><img src="{{ site.baseurl }}/_assets/images/vimeo.svg" alt=""></li>
      </ul>
    </div>
    <div class="middle-line"></div>
    <div class="right">

    </div>
  </div>
</footer>
