<nav class="twelve columns responsive">
  <div class="logo-badge"></div>
  <label for="show-menu" class="show-menu">Menu</label>
  <input type="checkbox" id="show-menu" role="button">
  <ul>
    <li><a href="#what-is-it">What is it?</a></li>
    <li><a href="#the-goal">The Goal</a></li>
    <li><a href="#prizes">Prizes</a></li>
    <li><a href="#">Schedule</a></li>
    <li><a href="#guest-speakers">Guest Speakers</a></li>
    <li><a href="#">FAQ</a></li>
    <li><a href="#" class="button button-primary">Register Now</a></li>
  </ul>
</nav>
