<nav class="twelve columns">
  <!-- <img src="https://placekitten.com/g/1920/1080" alt="navbar-background-image"> -->
  <div class="logo-badge"></div>
  <!-- <div class=background></div> -->
  <ul>
    <li><a href="#what-is-it">What is it?</a></li>
    <li><a href="#the-goal">The Goal</a></li>
    <li><a href="#prizes">Prizes</a></li>
    <li><a href="#">Schedule</a></li>
    <li><a href="#guest-speakers">Guest Speakers</a></li>
    <li><a href="#">FAQ</a></li>
    <li><a href="#" class="button button-primary">Register Now</a></li>
  </ul>
</nav>
