<nav class="twelve columns responsive">
  <a class="ix-logo" href="http://indexexchange.com" target="_blank">
    <img src="_assets/images/logo_ix_top.png" alt="Index Exchange Logo">
  </a>
  <label for="show-menu" class="show-menu">Menu</label>
  <input type="checkbox" id="show-menu" role="button">
  <ul>
    <li><a href="#what-is-it">What is it?</a></li>
    <li><a href="#the-goal">The Goal</a></li>
    <li><a href="#prizes">Prizes</a></li>
    <li><a href="#faq">F.A.Q.</a></li>
    <li><a href="#schedule">Schedule</a></li>
    <li><a href="https://ixdcsilhackathon.splashthat.com/" target="_blank" class="button button-primary">Register Now</a></li>
  </ul>
</nav>
