footer {
  width: 100vw;
  background-color: darken($primary, 12.5%);
  .footer-container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    padding: 3vh 10vw;
    .left {
      display: flex;
      justify-content: flex-start;
      flex-flow: column;
      width: 35vw;
      ul {
        list-style-type: none;
        display: flex;
        justify-content: flex-start;
        flex-flow: row wrap;
        padding: 10% 0;
        margin-bottom: 0;
      }
      ul.ix-links {
        li > a {
          color: #fff;
          font-family: $semibold-font;
          padding-right: 3vw;
          text-decoration: none;
        }
        li > a:hover {
          color: $secondary;
          transition: all 0.1s ease-in-out;
        }
      }
      .social {
        color: #fff;
        p {
          font-size: 1em;
          font-weight: 400;
          margin-bottom: 1.25rem;
        }
        ul {
          // margin-left: -1%;
          width: 75%;
          padding-top: 0.5%;
          li > a {
            padding-right: 2.5vw;
            img {
              width: auto;
              height: 3.5vh;
              float: left;
              // padding-right: 5%;
            }
          }
        }
      }
    }
    .middle {
      width: 1px;
      height: 20vh;
      border-right: 1px solid #fff;
      margin: auto;
    }
    .right {
      width: 35vw;
      // display: flex;
      // justify-content: center;
      ul {
        margin: 10% auto;
        display: flex;
        justify-content: flex-start;
        flex-flow: row;
        list-style-type: none;
        // li:first-child {
        // }
        li {
          width: 40%;
          margin-right: 15%;
          color: #fff;
          font-family: $semibold-font;
          a > img {
            margin-top: 25%;
            display: block;
          }
        }
      }
    }
  }
}

@media (max-width: 800px) {
  footer {
    width: 100vw;
    .footer-container {
      flex-flow: column;
      .left {
        width: 100%;
        text-align: center;
        ul.ix-links {
          flex-flow: column;
          li > a {
            font-size: 3rem;
          }
        }
        .social {
          ul {
            width: 100%;
            justify-content: center;
          }
        }
      }
      .middle {
        border-bottom: 1px solid #fff;
        width: 100%;
        height: 1px;
      }
      .right {
        width: 100%;
        display: flex;
        justify-content: center;
        ul {
          width: 75%;
          justify-content: center;
          text-align: center;
          flex-flow: row wrap;
          li {
            width: 100%;
            margin-bottom: 35%;
          }
          li:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
