---
---
@import 'skeleton';
@import 'typography';
@import 'variables';
@import 'nav';
@import 'footer';

body {
  margin: 0;
  padding: 0;
  * {
    box-sizing: border-box;
  }
  a.button.button-primary {
    background-color: $secondary;
    border-color: $secondary;
  }
  a.button.button-primary:hover {
    background-color: lighten($secondary, 10%);
    border-color: lighten($secondary, 10%);
  }
  font-family: $body-font;
  img.title {
    padding: 0 2vw;
    margin: 1.5% 0;
    width: 45%;
  }
  h1 span.title span.accent {
    color: $primary;
  }
  h3, h5.dates {
    font-family: $section-title-font;
    span.day-1 {
      padding-right: 1.5%;
    }
    span.day-2 {
      padding-left: 1.5%;
    }
  }
  nav {
    position: fixed;
    z-index: 1;
    ul {
      text-align: right;
      list-style-type: none;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
      margin-bottom: 0;
      li {
        z-index: 3;
        margin: auto 0;
        display: inline;
        a {
          color: $primary-nav-color;
          font-size: $nav-item-size;
          font-family: $primary-nav-font;
          background-color: $primary-nav-background-color;
          text-decoration: none;
          padding: 0 0.5vw;
          margin: 1vh 0.5vw;
        }
        a:hover {
          color: $secondary;
        }
        a.button.button-primary {
          text-transform: capitalize;
          font-family: $nav-button-font;
          font-size: $nav-button-font-size;
          margin-right: 1vw;
        }
      }
    }
  }
  header {
    background-image:
          /* top, transparent black, faked with gradient - for contrast of header text */
          linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
          ),
          url(../images/img_background.jpg);
    background-position: center;
    background-size: cover;
    // height: auto;
    padding-bottom: 11%;
    width: 100vw;
    z-index: 2;
    .intro {
      text-align: center;
      padding-top: 9vh;
      color: #fff;
      p {
        margin-bottom: 0.25vh;
        span.arial {
          font-family: sans-serif;
        }
      }
      p.index-exchange {
        font-size: 1.15em;
      }
    }
    .countdown-container {
      margin: auto;
      .countdown {
        padding: 0;
        border: 3px solid #fff;
        margin: 2.5% auto auto auto;
        width: 40%;
        list-style-type: none;
        display: flex;
        align-items: center;
        flex-flow: row wrap;
        justify-content: space-around;
        text-align: center;
        li.cd-i {
          padding: 0 2.5%;
          span {
            font-family: $site-title-font;
            font-size: $countdown-number-size;
            color: $secondary;
          }
          span > span {
            color: $countdown-color;
            font-family: $countdown-label-font;
            display: block;
            font-size: $countdown-label-size;
          }
        }
      }
    }
  }
  .master-container {
    margin-top: -3vh;
    font-size: $body-font-size;
    background-color: $main-container-background;
    padding-bottom: 3vh;
    .container:first-child {
      top: -12.5vh;
    }
    .container:not(:first-child) {
      position: relative;
      margin-top: 2.5vh;
    }
    .container:first-of-type + .container {
      margin-top: -10vh;
    }
    .panel {
      margin-top: 3vh;
      position: relative;
    }
    .container.panel {
      background-color: #fff;
      padding: 3vh 3vw;
      article {
        .highlight a{
          background-color: $secondary;
          color: #fff;
          font-family: $body-highlight-font;
          font-style: italic;
          font-size: 1.05em;
          padding: 0.5% 1.5% 0;
          text-decoration: none;
        }
        .highlight a:hover {
          background-color: $primary;
        }
      }
    }
    .container.faq {
      section {
        justify-content: space-between;
        .tabs {
          list-style-type: none;
          li {
            width: 95%;
            padding: 1% 5% 0;
            cursor: pointer;
            margin-bottom: 0.75rem;
            h5 {
              text-transform: none;
              color: $body-font-color;
              margin-bottom: 0;
            }
            h5:hover {
              color: $secondary;
              text-decoration: underline;
            }
          }
          li.current {
            background-color: #fff;
            h5 {
              color: $secondary;
            }
          }
        }
        .tab-content {
          display: none;
          flex-basis: 65%;
          padding: 2%;
          h5 {
            text-transform: none;
            font-size: 2.2rem;
            margin-bottom: 1%;
          }
          ul {
            list-style-type: disc;
            margin-left: 5%;
            list-style-position: outside;
          }
        }
        .tab-content.current {
          display: block;
          background-color: #fff;
          .highlight {
            background-color: $secondary;
            font-family: $body-highlight-font;
            color: #fff;
            text-decoration: none;
            padding: 0.5% 1% 0;
            &:hover {
              background-color: $primary;
              text-decoration: underline;
            }
          }
        }
      }
    }
    .prizes {
      padding: 3vh 27vw;
      display: flex;
      flex-flow: row;
      align-items: flex-start;
      background-color: $secondary;
      h3 mark {
        padding: 0 1.5vw;
        background-color: #fff;
        color: $primary;
      }
      h5 {
        color: #fff;
        text-transform: uppercase;
        font-family: $semibold-font;
        font-size: 1.1em;
        margin-right: 3vw;
      }
      p {
        color: #fff;
      }
      .prize-image {
        display: block;
        img.iphone-image {
          position: relative;
          top: -2vh;
        }
      }
    }
    aside {
      &.arrow-left, &.arrow-right {
        width: 5%;
        background-color: $main-container-background;
        position: absolute;
        height: 100%;
        top: 0;
      }
      &.arrow-left {
        left: 0;
        &:before, &:after {
          width: 60%;
          height: 50%;
          position: absolute;
          left: 100%;
          content: "";
        }
        &:before {
          top: 0%;
          background: linear-gradient(to right top, $main-container-background 50%, transparent 50%)
        }
        &:after {
          top: 50%;
          background: linear-gradient(to right bottom, $main-container-background 50%, transparent 50%)
        }
      }
      &.arrow-right {
        right: 0;
        &:before, &:after {
          width: 60%;
          height: 50%;
          position: absolute;
          right: 100%;
          content: "";
        }
        &:before {
          top: 0%;
          background: linear-gradient(to left top, $main-container-background 50%, transparent 50%)
        }
        &:after {
          top: 50%;
          background: linear-gradient(to left bottom, $main-container-background 50%, transparent 50%)
        }
      }
    }
    .container {
      h3 {
        mark {
          color: #fff;
          background-color: $primary;
          padding: 0 1.5vw;
        }
      }
      article {
        h5 {
          font-family: $subheading-font;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 1.1em;
          color: $primary;
        }
      }
      section {
        display: flex;
        flex-flow: row wrap;
      }
      section.triple {
        justify-content: space-between;
        article {
          width: 30%;

        }
        article.profile-card {
          height: auto;
          width: 32.25%;
          background-color: #fff;
          display: flex;
          flex-flow: column;
          justify-content: space-between;
          position: static;
          clear: both;
          * {
            padding: 1% 3%;
          }
          img {
            padding: 0;
            height: 20vh;
            width: 100%;
            object-fit: cover;
          }
          h6 {
            font-weight: 600;
            font-size: 1.2em;
            margin: 0;
            padding: 0 3%;
          }
          p {
            padding-top: 0;
            margin-bottom: auto;
          }
          p.bio {
            font-size: 0.9em;
          }
          a.see-bio {
            text-decoration: underline;
            text-transform: uppercase;
            font-weight: 400;
            color: $primary;
            margin-bottom: 3%;
          }
        }
      }
      section.double {
        flex-flow: row wrap;
        justify-content: space-between;
        .register-link {
          text-decoration: none;
          color: $primary;
          font-weight: 600;
        }
        article {
          flex-basis: 48.5%;
        }
      }
      section.double.schedule {
        justify-content: flex-start;;
        flex-flow: row wrap;
        article:first-child {
          flex-basis: 35%;
        }
        article p {
          color: $body-font-color;
          font-family: $body-font;
        }
      }
      section.single {
        text-align: center;
        flex-flow: column;
        h5 {
          display: block;
        }
        a {
          width: 25vw;
          margin: auto;
        }
      }
    }
    .registration-container {
      margin: 0;
      section {
        background-color: $primary;
        width: 100vw;
        text-align: center;
        .button-primary {
          margin: 1% auto;
        }
        .ribbon {
          margin: 0.75% auto;
          background-color: #fff;
          width: 15%;
          position: relative;
          aside {
            &.ribbon-left, &.ribbon-right {
              width: 5%;
              background-color: $primary;
              position: absolute;
              height: 100%;
              top: 0;
            }
            &.ribbon-left {
              left: 0;
              &:before, &:after {
                width: 60%;
                height: 50%;
                position: absolute;
                left: 100%;
                content: "";
              }
              &:before {
                top: 0%;
                background: linear-gradient(to right top, $primary 50%, transparent 50%)
              }
              &:after {
                top: 50%;
                background: linear-gradient(to right bottom, $primary 50%, transparent 50%)
              }
            }
            &.ribbon-right {
              right: 0;
              &:before, &:after {
                width: 60%;
                height: 50%;
                position: absolute;
                right: 100%;
                content: "";
              }
              &:before {
                top: 0%;
                background: linear-gradient(to left top, $primary 50%, transparent 50%)
              }
              &:after {
                top: 50%;
                background: linear-gradient(to left bottom, $primary 50%, transparent 50%)
              }
            }
          }
          h5 {
            font-family: $semibold-font;
            margin: 0.5% auto;
            color: $primary;
            padding: 0 2%;
          }
        }
        .registration-section {
          display: flex;
          flex-flow: row wrap;
          align-items: center;
          justify-content: center;
          article {
            flex-basis: 31.5%;
            padding: 3vh 3vw;
            color: #fff;
            &:first-of-type {
              border-right: 1px solid #fff;
            }
            h6 {
              font-family: $semibold-font;
              font-size: 1.2em;
            }
            .register-block {
              display: flex;
              flex-flow: row;
              justify-content: space-between;
              .text {
                text-align: left;
                p {
                  margin-right: 5%;
                }
                h6 {
                  font-family: $semibold-font;
                  font-size: 1em;
                  margin-bottom: 0;
                }
              }
              img {
                width: 25%;
                height: 25%;
              }
            }
            // &.
          }
        }
      }
    }
  }
  .careers {
    margin-top: 2%;
    width: 100vw;
    min-height: 22.5vh;
    background-image: url(../images/careers_background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    section {
      padding: 1.5% 0;
      h5 {
        font-family: $semibold-font;
        color: #fff;
      }
      .button.button-primary {
        font-family: $semibold-font;
        background-color: $primary;
        border-color: $primary;
      }
      a.button.button-primary:hover {
        background-color: lighten($primary, 10%);
        border-color: lighten($primary, 10%);
      }
    }
  }
}

@media (max-width: 850px) {
  body {
    header {
      height: auto;
      padding-bottom: 25%;
      img.title {
        width: 100%;
      }
    }
    .master-container {
      .container {
        &.faq {
          section {
            justify-content: column;
            .tabs {
              list-style-type: none;
              li {
                width: 100%;
              }
            }
          }
        }
        &.registration-container {
          section {
            .registration-section {
              flex-flow: column;
              justify-content: space-between;
              article .register-block {
                flex-flow: column;
                img {
                  width: 40%;
                  margin: auto;
                  max-width: 75%;
                }
              }
            }
          }
        }
      }
      aside {
        &.arrow-left, &.arrow-right {
          display: none;
          &:before, &:after {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 420px) {
  body {
    header {
      height: auto;
      padding-bottom: 25%;
      .countdown-container {
        .countdown {
          display: flex;
          flex-flow: column;
          justify-content: center;
          li.cd-i {
            font-size: 1rem;
          }
        }
      }
    }
    h1 span.accent {
      color: $primary;
    }
    .master-container {
      .container, .panel {
        section {
          flex-flow: column !important;
          &.triple, &.double {
            article, article:first-child, article:nth-child(2), article:nth-child(3) {
              width: 100%;
              margin: 0;
            }
          }
          &.triple {
            article.profile-card {
              height: auto;
            }
          }
          img {
            max-width: 100%;
          }
          &.single {
            a {
              width: 75vw;
            }
          }
          // &.registration {
          //   margin-left: -7.5vw;
          //   article {
          //     width: 100%;
          //   }
          // }
        }
        .prizes {
          width: 100%;
          padding: 3vh;
          .prize-image, .badge-container {
            width: 100%;
            text-align: center;
            img.iphone-image {
              position: relative;
              top: 10px;
              object-position: inherit;
              width: auto;
              max-height: 35vh;
            }
          }
        }
      }
      .container {
        padding: 0;
      }
    }
  }
}
