@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Source+Sans+Pro:400,600,700');

// Headings
$site-title-font: 'Bungee Inline', Helvetica, sans-serif;
$section-title-font: 'Bungee Inline', Helvetica, sans-serif;

// Navigation Bar
$primary-nav-font: 'Bungee Inline', Helvetica, sans-serif;
$primary-nav-color: #000;
$primary-nav-background-color: #fff;
$nav-item-size: 0.95em;
$nav-button-font: 'Source Sans Pro', sans-serif;
$nav-button-font-size: 1.1em;

// Countdown Timer
$countdown-label-font: 'Source Sans Pro', sans-serif;
$countdown-number-size: 2.5em;
$countdown-label-size: 0.75em;
$countdown-color: #fff;

// Body
$body-font: 'Source Sans Pro', sans-serif;
$body-font-size: 1em;
